html{
  	height:100%;
}

body{
  	height:100%;
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #30383d;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

.nytimes-container {
    padding: 10px;
    margin-right:300px;
    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

#map-canvas {
	width:100%;
    height:100%;
    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
    overflow:hidden;
}

form .form-control {
    margin-top: 0px;
}

.navbar {
    background-color: #727272;
    margin-bottom: 5px;
}

.table-responsive {
    background-color: rgba(209, 209, 209, 0.75);
}
